*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: tahoma;
}

html{
    height: 100%;
    font-size: 14px;
    scroll-behavior: smooth;
}


/* CABEÇALHO */

header{
    background-color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
    padding: 37.5px 0;
    color: rgb(213, 150, 0);
    border-bottom: 1px solid rgba(213, 150, 0, 0.33);
    margin-bottom: 20px;
    position: fixed;
}

header h1{
    margin-bottom: 20px;
    font-size: 2.4em;
}

header a{
    color: rgb(213, 150, 0);
    font-size: 1.3em;
    font-weight: 500;
    margin: 0 0.3em ;
    text-decoration: none;
    border-bottom: 2px solid rgb(213, 150, 0);
}



/* IMAGEM DE FUNDO */


.carro-banner{
    width: 100%;
}


/* container */

/* textos */

.container p{
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
    margin-top: 0.6em;
}

.container span{
    color: rgb(213, 150, 0);
    font-weight: bold;
}



/* sobre */

.container{
    margin: 5em auto 0 auto;
    width: 100%;
    max-width: 1024px;
    text-align: center;
}

.sub-cont{
    font-weight: 500;
    margin-bottom: 1.5em;
    font-size: 23px;
}


#sobre h2{
    margin-bottom: 1.6em;
    font-size: 27px;
}


#sobre img{
    width: 450px
}



/* consultores */


#consultores h2{
    margin-top: 3.5em;
    margin-bottom: 1.6em;
    font-size: 27px;
}


#consultores img{
    width: 450px;
}

#consultores a{
    color: rgb(213, 150, 0);
    text-decoration: none;
    border-bottom: 2px solid rgb(213, 150, 0);;
}



/* localidade */


#endereco h2{
    margin-top: 9em;
    margin-bottom: 1.4em;
    font-size: 27px;
}

#endereco{
    width: 100%;
}


/* rodape */

footer{
    margin-top: 1.6em;
    background-color: rgb(29, 29, 29);
    color: #FFF;
    padding: 30px 0;
    text-align: center;
    font-size: 1.3em;
}

footer a{
    color: rgb(213, 150, 0);
    text-decoration: none;
    border-bottom: 2px solid rgb(213, 150, 0);;
}